<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SIEM interface</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active" *ngFor="let link of links">
        <a *ngIf="link.text != 'Logout'" class="nav-link" routerLink="{{link.routerLink}}" routerLinkActive="active" id="{{link.text}}">{{link.text}}</a>
        <a *ngIf="link.text == 'Logout'" (click)="logout()" class="nav-link" routerLink="{{link.routerLink}}" routerLinkActive="active" id="{{link.text}}1">{{link.text}}</a>

      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
