<div>
  <div class="jumbotron">
  <table>
    <tr>
      <td colspan="3"><input type="text" class="form-control" id="type" placeholder="Enter type for search" name="usr" [(ngModel)]="typeSearch" ></td>
      <td><button type="submit" (click)="searchByType()"  class="btn btn-primary" id="searchByType">Search</button></td>
    </tr>
  </table>
   from:
  <input type="datetime-local" name="dateSearch1">
  to:
  <input type="datetime-local" name="dateSearch1">
    <button type="submit" (click)="searchByData()"  class="btn btn-primary" id="searchByDate">Search</button>
    <div>
    <table>
      <tr>
        <td colspan="3"><input type="text" class="form-control" id="type1" placeholder="Enter regex for search" name="usr" [(ngModel)]="regexString" ></td>
        <td><button type="submit" (click)="searchByRegex()"  class="btn btn-primary" id="regexString">Search</button></td>
      </tr>
    </table>
    </div>
    <button type="submit" (click)="refresh()"  class="btn btn-primary" id="refresh">Refresh</button>
  </div>
</div>

<div class="container" ng-app="invoice">
  <section class="row" ng-controller="InvoiceController">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">Type</th>
        <th class="text-center">Description</th>
        <th class="text-center">Date</th>
        <th class="text-center">IP</th>
        <th class="text-center">Host</th>
        <th class="text-center">Facility</th>
        <th class="text-center">Username</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of logs | paginate: {itemsPerPage:5, currentPage: p}">
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.type" class="form-control text-center" /></fieldset></td>
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.description"  class="form-control text-center" /></fieldset></td>
        <td><fieldset disabled=""><input type="text" value="{{item.date | date:'hh:mm yyyy-MM-dd'}}" class="form-control text-center" /></fieldset></td>
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.ip" class="form-control text-center" /></fieldset></td>
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.host" class="form-control text-center" /></fieldset></td>
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.facility" class="form-control text-center" /></fieldset></td>
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.tag" class="form-control text-center" /></fieldset></td>
      </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </section>
</div>

